/*
    0h h1 colors
    #00AAC4 - Blue
    #008A9B - Blue Shadow
    #E43A20 - Red
    #B33215 - Red Shadow
*/

body {
    background-color: #222222;
    color: #FFFFFF;
    font-family: 'Playball',"Lucida Grande","Helvetica","Arial","Verdana","sans-serif";
    text-shadow: 2px 2px 2px #111111;
}

div {
    position: relative;
    height: 200px;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
/*    box-shadow: 0px 0px 0px 1px #00BEA6 inset;*/
}

.boardCell {
    height: 50px;
    width: 50px;
    float: left;
    background-color: #2D2D2D;
    box-shadow: 0px 0px 0px 1px #222222 inset;
    border-radius: 5px;
    cursor: pointer;

    font-size: 40px;
    vertical-align: auto;
    text-align: center;
}

.boardCell:hover {
    background-color: #383838;
}

.dug {
    background-color: #555555;
}

.xo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.highlightBox {
    background-color: #444444;
}

.one {
    color: #00AAC4; /*Blue*/
}
.two {
    color: #77DD77; /*Green*/
}
.three {
    color: #E43A20; /*Red*/
}
.four {
    color: #2447B2; /*Dark Blue*/
}
.five {
    color: #996633; /*Brown*/
}
.six {
    color: #66FFFF; /*Cyan*/
}
.seven {
    color: #FFFF99; /*Yellow*/
}
.eight {
    color: #FF9900; /*Orange*/
}

#title {
    height: 150px;
    font-size: 48px;
    text-align: center;
    padding: 50px;
}

#boardWrapper {
    height: 500px;
}

#gameBoard {
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#iconsWrapper {
    position: relative;
    height: 75px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#resetButton {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 12.5px;
    left: 10px;
    cursor: pointer;
}

#diffSelect {
    position: absolute;
    right: 10px;
    height: 40px;
    top: 20px;
}
